/* - Mobile & Tablet (max width: 1024px) */
/* - Tablet (min-width: 740px) and (max-width: 1023px) */
/* - Mobile (max-width: 739px) */


/* Điện thoại */
@media screen and (max-width: 739px) {
    .head-search {
        display: none;
    }

    .click-giohang {
        margin: 0 auto 10px auto;
    }

    .row-cols-md-6 col {
        width: 50%;
    }

    .carousel-flash-sale .carousel-item {
        display: block;
        margin: 0;
        flex: 0 0 calc((100% / 2));
    }

    #danhmuc {
        display: none;
    }

    .input-thongtin-khuyenmai input {
        height: 44px;
        width: 50%;
        border-radius: 30px;
        padding: 10px 20px;
        border: 2px solid #E3E3E3;
        outline: none;
        padding-right: 80px;
    }

    .input-thongtin-khuyenmai button {
        position: absolute;
        height: 44px;
        width: 100px;
        padding: 10px;
        border: none;
        border-radius: 30px;
        color: white;
        background-color: #0D6EFD;
        right: 242px;
    }

    .prev-flash-sale {
        position: absolute;
        width: 100px;
        height: 100px;
        font-size: 32px;
        background-color: #f3f3f3;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        left: -20px;
        opacity: 1;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .next-flash-sale {
        position: absolute;
        width: 100px;
        height: 100px;
        font-size: 32px;
        background-color: #f3f3f3;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        right: -20px;
        opacity: 1;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .nav {
        display: none;
    }
    
    .icon-bars {
        height: 50px;
        width: 50px;
        display: block;
        cursor: pointer;
        position: absolute;
        top: 10%;
        left: 25px;
        margin-top: 20px;
    }

    .nav-deals,
    .nav-support {
        display: none;
    }

    .nav-list {
        display: flex;
        align-items: center;
        flex-grow: 1;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: center;
    }
    
    .nav.active {
        display: flex;
    }
    
    

}